body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.wait {
    background: url(../img/dpwait.gif) no-repeat center #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
}
.overlay {
    position: fixed;
    z-index: 1200;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    color:#fff;
}
.overlay-text{
 margin-top:30rem;   
}

nav ul a,
.brand-logo {
    color: #fff;
}

p {
    line-height: 2rem;
}

.add-periodo-container{
    margin-bottom:1.5rem;
}
.button-collapse {
    color: #2196f3;
}

background .ea.k {
    opacity: 20;
}

.nav-consulta-aspirante {
    color: #fff;
    background-color: #2196f3;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: xx-large;
}

#logo-container {
    padding-left: 20px;
}

.section {
    padding-top: 0;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 0%;
    }
    img.uaq-logo {
        max-width: 35%;
        height: auto;
        margin-right: 1rem;
    }
    nav ul a,
    .brand-logo {
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    
    
}

@media only screen and (min-width: 992px) {
    img.uaq-logo {
        max-width: 15%;
        height: auto;
        margin-right: 1rem;
    }
}

footer.page-footer {
    margin: 0;
}

.flecha-bajar a {
    display: inline-block;
    color: #fff;
    font-size: 5rem;
    animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}

.justify-text {
    text-align: justify;
}

.flex-rows .col {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.logo-size {
    font-size: inherit;
}

.modal-justyfi-text {
    text-align: justify;
}

.modal-center-text {
    text-align: center;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #00e676;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    display: none;
    transition: all .5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: #b9f6ca;
}


/* CONSULTAS */

.nav-consultas {
    color: #fff;
    background-color: #00c853;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: xx-large;
}

.ea.k {
    color: #fff;
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: sticky;
}

.pinned {
    position: fixed !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #ff1744;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

nav ul a {
    display: flex;
    flex-direction: inherit;
    align-items: center;
}

.face {
    margin-right: 1rem;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.col-flex {
    display: flex;
    justify-content: center;
    height: inherit;
    width: -webkit-fill-available;
}
}

.fixed-action-btn.horizontal ul {
    height: 150%;
    width: 180px;
}

.text-center {
    text-align: center;
}

.mybadge{
    margin-top:.8rem;
}
.margin{
    margin-top:.5rem;
    margin-bottom:.5rem;
}
.badge-style-h{
    padding:.4rem;
}

@media only screen and (max-width: 600px) {

    .col-flex {
    display: flex;
    justify-content: center;
    width: inherit;
    height: inherit;
}
}

.row .col.m4 {
    margin-left: initial;
}
